@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ariegard';
  src: url('/fonts/ariergard-rondo-book.otf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  font-size: 10px;
  font-family: 'Ariegard' !important
}

.container-limit {
  max-width: 1640px;
  margin: auto;
}

.hightlighted-text-opacity {
  background-image: linear-gradient(to right, rgba(136,154,201,1) 0%, rgba(136, 154, 201, 0) 42%,rgba(136, 154, 201, 0) 50%, rgba(136,154,201,1) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

* {
  transition: all .2s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (max-width:1300px) {
  html,
  body {
    font-size: 9px;
  }
}